{% extends "base.html" %}
{% load static humanize %}

{% block extra_css %}
  <style type="text/css">
    button[type="submit"] {
      width: 15%;
    }
    input[type="select-one"] {
      width: 50%;
      height: 50%;
    }
    .selectize-input input {
      width: 100%;
      height: 100%;
    }
  </style>
{% endblock extra_css %}


{% block header %}
<main>
  <div id="position">
    <div id="cabecalho">
      <div>
        <p>Emails do sistema</p>  
      </div>
      <div>
        <a class="botaocrud" href="create">Novo</a>
      </div>  
    </div>  
  </div>  
  <div class="search-and-filters row m-0">
    <form method="GET" action="{% url 'account_login' %}" style="justify-content: flex-start; display: flex;">
      {% csrf_token %}
      <div class="filter">
        <label>Nome Egresso:</label>
        <input type="text" name="name" placeholder="" value="" />
      </div>
      <div class="submit-button col-1">            
        <button id="button_filter" type="submit">Filtrar</button>
      </div>
    </form>
  </div>

  <div class="results" class="row">
    <table id="result_list">
      <thead>
        <tr>
          <th class="col-sm-1">#</th>
          <th>Assunto</th>
          <th>Remetente</th>
        </tr>
      </thead>
      <tbody>
      {% for email in object_list %}
        {% if email %}
          <tr>
            <th class="field-show_list_display_icons">
              <a class="icon icon-view" href="{{ email.get_preview_url }}"><img src="{% static 'assets/lupa.png' %}"></a>
            </th>
            <td>{{ email.subject }}</td>
            <td>{{ email.sender }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
    </table>
  </div> 
</main>
{% endblock header %}
