SECRET_KEY=
ALLOWED_HOSTS=127.0.0.1, *, .localhost, .herokuapp.com
DEBUG=True

# Credentials SUAP
CLIENTE_ID=
CLIENT_SECRET=

DATABASE_URL=postgres://postgres:postgres@localhost:5432/database

WEB_CONCURRENCY=3
