{% extends "base.html" %}
{% load static humanize %}

{% block extra_css %}
  <style type="text/css">
    button[type="submit"] {
      width: 15%;
    }
  </style>
{% endblock extra_css %}


{% block header %}
<main>
  <div id="position">
    <div id="cabecalho">
      <div>
        <p>Egressos do sistema</p>  
      </div>
      <div>
        <a class="botaocrud" href="create">Novo</a>
      </div>  
    </div>  
  </div>  
  <div class="search-and-filters row m-0">
    <form method="GET" action="{% url 'account_login' %}" style="justify-content: flex-start; display: flex;">
      {% csrf_token %}
      <div class="filter">
        <label>Nome Egresso:</label>
        <input type="text" name="name" placeholder="" value="" />
      </div>
      <div class="submit-button col-1">            
        <button id="button_filter" type="submit">Filtrar</button>
      </div>
    </form>
  </div>

  <div class="results" class="row">
    <table id="result_list">
      <thead>
        <tr>
          <th class="col-sm-1">#</th>
          <th>Matricula</th>
          <th>Nome</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
      {% for egress in object_list %}
      <tr>
        <th class="field-show_list_display_icons">
          <a class="icon icon-view" href="{{ egress.get_preview_url }}"><img src="{% static 'assets/lupa.png' %}"></a>
        </th>
        <!--
          <td>
            <a class="botaocrud2" href="{{ egress.get_update_url }}">Editar</a>
            <a class="botaocrud2" href="{{ egress.get_preview_url }}">Visualizar</a>
          </td>-->
          <td>{{ egress.enrollment }}</td>
          <td>{{ egress.name }}</td>
          <td>{{ egress.email }}</td>
          
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div> 
</main>
{% endblock header %}


{% block extra_js %}
  <script type="text/javascript">
  </script>
{% endblock extra_js %}
