{% extends "base.html" %}
{% load static humanize %}

{% block extra_css %}
  <style type="text/css">
    img {
      width: 20% !important;
    }
  </style>
{% endblock extra_css %}


{% block header %}
<main>
  <div id="position">
    <div id="cabecalho">
      <div>
        <p>Egresso:</p>            
      </div> 
      <div class="action-bar-container">
        <ul class="action-bar">
          <li><a href="{% url 'core:list' %}" style="background-color: #292929;">Cancelar</a></li>
          <li><a href="{{ egress.get_update_url }}">Editar</a></li>
          <li><a >Excluir</a></li>
        </ul>    
      </div> 
    </div>  
  </div>
  <form method="POST" onsubmit="submitFormUser();" id="formUser">
    {% csrf_token %}
    <div id="box"> 
      <div class="photo-circle big" style="border: 1px solid black;">
        {% if form.instance.pk %}
            {% if form.instance.photo %}
              <a href="#" class="pop">
                <img src="{{ form.instance.photo.url }}" alt="Foto do Egresso" style="height: 100%; width: 100%;">
              </a>
            {% else %}
              <p>Nenhuma foto do cadastrada</p>
            {% endif %}
          {% endif %}
      </div> 
      <div>
        <table class="info">
          <tr>
            <td>Matrícula</td>
            <td><input type="number" name="enrollment" value="Código" disabled></td>
            <td>Nome egresso</td>
            <td><input type="text" name="name" value="SIAPE" disabled></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input type="email" name="email" value="Código" disabled></td>
            <td>Rede social</td>
            <td><input type="text" name="socialNetwork" value="Código" disabled></td>
          </tr>
          <tr>
            <td>Currículo lattes</td>
            <td><input type="email" name="lattes" value="Código" disabled></td>
            <td>Placa</td>
            <td>
              <select name="board" id="input4">
                {% for board in boards %}
                  <option 
                    value="{{ board.id }}"
                  >{{ board.name }}</option>
                {% endfor %}
              </select>
          </td>
          </tr>
        </table>
      </div>
    </div> 
  </form>
</main>
{% endblock header %}


{% block content %}
  <div class="modalcontainer">
    <div class="modal">
      <button class="fechar" onclick="modal()">X</button>
      <h3>AVISO</h3>
      <p>Deseja realmente excluir o usuário?</p>
      <button class="botaocrud2" href="{% url 'egress:list' %}">Cancelar</button>
      <button class="botaocrud" onclick="deleteUser(event)">Excluir</button>
    </div>        
  </div>
{% endblock content %}


{% block extra_js %}
  <script type="text/javascript">
    function modal() {
      if(document.querySelector('.modalcontainer').classList.contains('show')){
        document.querySelector('.modalcontainer').classList.remove('show')
      }
      else{
        document.querySelector('.modalcontainer').classList.add('show')
      }
    }  

    const deleteInput = document.querySelector('#cabecalho #deleteA');
    const titleText = document.querySelector('#cabecalho #title');
    
    const enrollment = document.querySelector('[name="enrollment"]');
    const name = document.querySelector('[name="name"]');
    const email = document.querySelector('[name="email"]');
    const photo = document.querySelector('[name="photo"]');
    const socialNetwork = document.querySelector('[name="socialNetwork"]');
    const lattes = document.querySelector('[name="lattes"]');
    const board = document.querySelector('[name="board"]');

    let pk = parseInt(window.location.pathname.split('/')[2]);

    if (pk) {  
      fetch("/egress/api/" + pk, {
        method: "GET",
        headers: {
          'X-CSRFToken': '{{ csrf_token }}',
        }
      }).then(res => {
        res.json().then(item => {
          item.forEach(element => {
            enrollment.value = element.enrollment;
            name.value = element.name;
            email.value = element.email;
            // photo.value = element.photo;
            socialNetwork.value = element.social_network;
            lattes.value = element.lattes;
            board.value = element.board;
          });
        })
      }).catch(err => {
        console.log("ERROR: " + err);
      });
    } else {
      deleteInput.style.visibility = "hidden";
    }
  </script>
{% endblock extra_js %}
