{% extends "base.html" %}
{% load static humanize %}

{% block extra_css %}
  <style type="text/css">
    img {
      width: 20% !important;
    }
  </style>
{% endblock extra_css %}


{% block header %}
  <div id="cabecalho">
    <div>
      <p>Visualizar Egresso</p>
    </div>
  </div>
  <form method="POST" onsubmit="submitFormUser();" id="formUser">
    {% csrf_token %}
    <div id="new">    
      <div>
        <label>Matrícula</label>
        <input id="input1" type="number" name="enrollment" value="Matricula">
      </div>
      <div>
          <label>Nome egresso</label>
          <input id="input2" type="text" name="name" value="Nome do egresso">
      </div>
      <div>
        <label>Email</label>
        <input id="input3" type="email" name="email" value="Email">
      </div>
    </div>        
    <div id="new"> 
      <div>
        <label>Foto Egresso</label>
        {% if form.instance.pk %}
          {% if form.instance.photo %}
            <img id="input2" src="{{ form.instance.photo.url }}" alt="Foto do Egresso">
          {% else %}
            <p id="input2">Nenhuma foto do cadastrada</p>
          {% endif %}
          <input id="input2" type="file" name="photo" accept="image/*">
        {% else %}
          <input id="input2" type="file" name="photo" accept="image/*">
        {% endif %}
      </div>    
    </div>
    <div id="new">
      <div>
        <label>Rede social</label>
        <input id="input2" type="text" name="socialNetwork" value="Rede social">
      </div> 
      <div>
        <label>Currículo lattes</label>
        <input id="input3" type="text" name="lattes" value="Lattes">
      </div>
    </div>
    <div id="new">
        <select name="board" id="input1">
          {% for board in boards %}
            <option 
              value="{{ board.id }}"
            >{{ board.name }}</option>
          {% endfor %}
        </select>
    </div>     
    <div id="botoes">
      <a class="botaocrud2" href="{% url 'egress:list' %}">Voltar</a>
    </div>
  </form>
{% endblock header %}


{% block content %}
  <div class="modalcontainer">
    <div class="modal">
      <button class="fechar" onclick="modal()">X</button>
      <h3>AVISO</h3>
      <p>Deseja realmente excluir o usuário?</p>
      <button class="botaocrud2" href="{% url 'egress:list' %}">Cancelar</button>
      <button class="botaocrud" onclick="deleteUser(event)">Excluir</button>
    </div>        
  </div>
{% endblock content %}


{% block extra_js %}
  <script type="text/javascript">
    function modal() {
      if(document.querySelector('.modalcontainer').classList.contains('show')){
        document.querySelector('.modalcontainer').classList.remove('show')
      }
      else{
        document.querySelector('.modalcontainer').classList.add('show')
      }
    }  

    const deleteInput = document.querySelector('#cabecalho #deleteA');
    const titleText = document.querySelector('#cabecalho #title');
    
    const enrollment = document.querySelector('[name="enrollment"]');
    const name = document.querySelector('[name="name"]');
    const email = document.querySelector('[name="email"]');
    const photo = document.querySelector('[name="photo"]');
    const socialNetwork = document.querySelector('[name="socialNetwork"]');
    const lattes = document.querySelector('[name="lattes"]');
    const board = document.querySelector('[name="board"]');

    let pk = parseInt(window.location.pathname.split('/')[2]);

    if (pk) {  
      fetch("/egress/api/" + pk, {
        method: "GET",
        headers: {
          'X-CSRFToken': '{{ csrf_token }}',
        }
      }).then(res => {
        res.json().then(item => {
          item.forEach(element => {
            enrollment.value = element.enrollment;
            name.value = element.name;
            email.value = element.email;
            // photo.value = element.photo;
            socialNetwork.value = element.social_network;
            lattes.value = element.lattes;
            board.value = element.board;
          });
        })
      }).catch(err => {
        console.log("ERROR: " + err);
      });
    } else {
      deleteInput.style.visibility = "hidden";
    }
  </script>
{% endblock extra_js %}
