version: "3.9"

services:
  db:
    image: postgres
    environment:
      POSTGRES_DB: placasvirtuais_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db:/var/lib/postgresql/data
    #   - ./data/db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - placasvirtuais-network

  app:
    build: .
    command: >
      bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:9000"
    volumes:
      - .:/code
    restart: always
    ports:
      - "9000:9000"
    depends_on:
      - db
    networks:
      - placasvirtuais-network

volumes:
  db:
networks:
  placasvirtuais-network:
