/* geral */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Roboto;
    border: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

#bodylogin{
    background-image: url('../img/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

textarea:focus, input:focus{
    outline: none;
}

/* barra */
#header{
    width: 100%;
    position: absolute;
    top: 0;
}
#barra{
    background-color: #f1f1f1;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
    height:40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#barra > div{
    display: flex;
    align-items: center;
}
#barra > div > p{
    margin: 0 10px;
    cursor: pointer;
}

/* navegacao */
#navegacao{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    justify-content: space-between;
}
#navegacao > div{
    display: flex;
    align-items: center;
}

/* logout */
.item{
    display: flex;
    align-items: flex-end;    
}
.item img{
    width: 20px;
}
a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    margin-left: 5px;
}

/* tela login */
#login{
    background-color: #f1f1f1;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
    width: 350px;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

#login img{
    width: 50px;
    float: left;   
}

#login > div{
    display: flex;
    align-items: center;
}

#login > div > p{
    font-size: 30px;
}
form > div{
    display: flex;
    margin-top: 20px;
}

input{
    width: 100%;    
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    background-color: #ffffff;
}

#submit{
    border-radius: 5px;    
    font-size: 15px;
    width: 100%;
    height: 40px;
    color: #ffffff;
    background-color: #292929;    
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
    cursor: pointer;
    margin-left: 15px;
}
#voltar{
    width: 100%;
    cursor: pointer;
    border: solid #292929;
    margin-right: 15px;
    background-color: #ffffff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
    border-radius: 5px;
    font-size: 15px;
}

/* tela dashboard*/
#container{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#apresentacao{
    width: 300px;
    padding: 50px;
    display: flex;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#apresentacao img{
    width: 50px;
    float: left;   
}
#apresentacao p{
    margin-top: 10px;
    font-size: 20px;
}
#superior{
    display: flex;
    justify-content: center;
    align-items: center;
}
#inferior{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 130px;
    height: 130px;
    background-color: #f1f1f1;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);   
    margin: 0px 70px;
    cursor: pointer;
    border-radius: 10px;
}
.botao img{
    width: 50%;
    display: flex;
    margin: 10px 10px;
}

