* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Roboto;
    border: none;
}
body{
    /*background-color: #fafafa;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;    
    flex-direction: column;
}

#bodylogin{
    background-image: url('../img/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

textarea:focus, input:focus{
    outline: none;
}

/* barra */
#header{
    width: 100%;
    top: 0;
}
#barra{
    background-color: #f1f1f1;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
    height:40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#barra > div{
    display: flex;
    align-items: center;
}
#barra > div > p{
    margin: 0 10px;
    cursor: pointer;
}

/* navegacao */
#navegacao{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    justify-content: space-between;
}
#navegacao > div{
    display: flex;
    align-items: center;
}

/* logout */
.item{
    display: flex;
    align-items: flex-end;    
}
.item img{
    width: 20px;
}
a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    margin-left: 5px;
}
/* usuario */
#cabecalho{
    padding: 0px 20px;
}
#cabecalho > div{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    justify-content: space-between;
    border-bottom: solid #292929;  
}
#cabecalho a{
    width: 100px;
    text-align: center;
}
#botoes{    
    display: flex;
    align-items: center; 
    padding: 10px 20px;
}
.botaocrud{    
    background-color: #292929;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
    border-radius: 5px;
    padding: 10px 10px;
    margin-left: 15px;
    color: #ffffff;
    font-size: 15px;   
    cursor: pointer;
}
.botaocrud2{    
    background-color: #ffffff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 15px;    
    cursor: pointer;
}
#search{
    margin-top: 20px;
    padding: 0px 20px;
}
#search > form{
    display: flex;    
    align-items: center;
}
#search input{    
    margin-right: 0px;
}

#newusuario{
    margin-top: 20px;
    padding: 0px 20px;
}
#newusuario > form{
    display: flex;    
    align-items: center;
}
#siape{
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
    border: thin solid #292929;    
    border-radius: 5px;
    width: 90px;
    padding: 10px;
    margin-right: 20px;
}
#nomeusuario{
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
    border: thin solid #292929;    
    border-radius: 5px;
    width: 500px;
    padding: 10px;
    margin-right: 20px;
}
#email{
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
    border: thin solid #292929;    
    border-radius: 5px;
    width: 500px;
    padding: 10px;    
}

#table{
    padding: 20px 20px;
    width: 100%;
}

table{
    width: 100%; 
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);    
    border-radius: 5px;      
}

td, th {
    text-align: left;
    padding: 15px 20px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}
h3{
    text-align: center;
    padding: 0px 10px;
    border-bottom: 2px solid #292929;
}
p{
    margin-top: 15px;
    margin-bottom: 10px;
}
.modalcontainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0, .5);
    display: none;
    justify-content: center;
    align-items: center;
}
.modalcontainer.show{
    display: flex;

}

.modal{
    background-color: white;
    width: 25%;
    min-width: 300px;
    padding: 35px;
    border-radius: 10px;
    border: 5px solid #292929;
    position: relative;
}
.fechar{
    position: absolute;
    font-size: 20px;
    top: -10px;
    right: -10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
    color: #ffffff;
    background-color: #292929;
    cursor: pointer;
}