* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Roboto;
    border: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

#bodylogin{
    background-image: url('../img/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

textarea:focus, input:focus{
    outline: none;
}

/* barra */
#header{
    width: 100%;
    position: absolute;
    top: 0;
}
#barra{
    background-color: #f1f1f1;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
    height:40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#barra > div{
    display: flex;
    align-items: center;
}
#barra > div > p{
    margin: 0 10px;
    cursor: pointer;
}

/* navegacao */
#navegacao{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    justify-content: space-between;
}
#navegacao > div{
    display: flex;
    align-items: center;
}

/* logout */
.item{
    display: flex;
    align-items: flex-end;    
}
.item img{
    width: 20px;
}
a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    margin-left: 5px;
}
/* usuario */
#cabecalho{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    justify-content: space-between;
    border-bottom: solid #292929;  
}
#botoes{    
    display: flex;
    align-items: center;    
    padding: 10px 10px;
}
.botaocrud{    
    background-color: #292929;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
    border-radius: 5px;
    padding: 10px 10px;
    margin-left: 15px;
    color: #ffffff;
    font-size: 15px;   
    cursor: pointer;
}
.botaocrud2{    
    background-color: #ffffff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 15px;    
    cursor: pointer;
}
#search{
    margin-top: 20px;
    padding: 10px 10px;
}
#search > form{
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

#newusuario{
    margin-top: 20px;
    padding: 10px 10px;
}
#newusuario > form{
    display: flex;    
    align-items: center;
}
#siape{
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
    border: thin solid #292929;    
    border-radius: 5px;
    width: 90px;
    padding: 10px;
    margin-right: 20px;
}
#nomeusuario{
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
    border: thin solid #292929;    
    border-radius: 5px;
    width: 500px;
    padding: 10px;
    margin-right: 20px;
}
#email{
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
    border: thin solid #292929;    
    border-radius: 5px;
    width: 500px;
    padding: 10px;    
}
