{% extends "base.html" %}
{% load static humanize %}

{% block extra_css %}
  <style type="text/css">
    button[type="submit"] {
      width: 15%;
    }
  </style>
{% endblock extra_css %}


{% block header %}
<div id="position">
  <div id="cabecalho">
    <div>
      <p>Placas do Sistema</p>            
      <a class="botaocrud" href="create">NOVO</a>
    </div>  
  </div>  
  <div id="search">    
    <form method="GET" action="{% url 'account_login' %}">
      {% csrf_token %}
      <input id="input2" type="text" value="Nome da placa" />
      <button type="submit" class="botaocrud">Pesquisar</button>
    </form> 
  </div>
{% endblock header %}


{% block content %}
  <div id="table">
    <table>
      <tr>
        <th>Nome</th>
        <th>Ano de graduação</th>
        <th>Curso</th>
        <th>Ações</th>
      </tr>

      {% for board in object_list %}
        <tr>
          <td>{{ board.name }}</td>
          <td>{{ board.year_graduation }}</td>
          <td>{{ board.course }}</td>
          <td>
            <a class="botaocrud2" href="{{ board.get_update_url }}">Editar</a>
            <a class="botaocrud2" href="{{ board.get_preview_url }}">Visualizar</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>   
</div>   
{% endblock content %}


{% block extra_js %}
  <script type="text/javascript">
  </script>
{% endblock extra_js %}
