{% extends "base.html" %}
{% load static humanize %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/stylesPreview_Extern.css' %}">
  <style type="text/css">
    #barra {
      display: none;
    }
  </style>
{% endblock extra_css %}


{% block header %}
<header class="container-fluid">
  <div class="row m-0">
    <div class="col-md-12">
      <nav class="navbar fixed-top navbar-dark bg-dark" style="box-shadow: 0 0px 0px rgb(0 0 0 / 20%), 0 0px 0px rgb(0 0 0 / 14%), 0 2px 10px -2px rgb(0 0 0 / 12%);">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" style="font-size: 1.5rem;">
            Placas de Formatura Virtual
          </a>
          <div>
            {% if user.is_authenticated %}
              <a href="{% url 'account_logout' %}" class="btn btn-danger m-3" style="width: 5rem;">Logout</a>
              
              {% if user.avatar %}
                <img id="loginimg" src="{{ request.user.get_avatar }}">
              {% else %}
                <img src="{% static 'assets/avatar-header.png' %}" style="width: 2rem;">
              {% endif %}
            {% else %}
              <a href="/suap_login/" class="btn btn-success m-3" style="width: 5rem;">Entrar</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
<main id="content" style="padding-top: 6rem;">
  <div id="title-container">
    <h2 class="boardName">Placa:</h2>
  </div>
  <div class="action-bar-container">
    <ul class="action-bar">
      <li><a href="{% url 'core:page_extern' %}">Voltar</a></li>
    </ul>    
  </div>
  <div class="box">
    <div class="photo-circle big" style="border: 1px solid black;">
      {% if form.instance.pk %}
          {% if form.instance.photo %}
            <a href="#" class="pop">
              <img src="{{ form.instance.photo.url }}" alt="Foto da Placa" style="height: 100%; width: 100%;">
            </a>
          {% else %}
            <p>Nenhuma foto do cadastrada</p>
          {% endif %}
        {% endif %}
      </div>
    <div>
      <table class="info">
        <tbody>
          <tr>
            <td>Nome da placa</td>
            <td><input type="text" name="name" value="Nome da Placa" disabled></td>
            <td>Data formatura</td>
            <td><input type="date" name="graduation_date" value="Data de formatura" disabled></td>
          </tr>
          <tr>
            <td>Ano</td>
            <td>
              <!-- <input type="text" name="year_graduation" value="Ano do periodo" disabled> -->
              {% if form.instance %}
                <input type="text" name="name" value="{{ form.instance.get_year }}" disabled>
              {% endif %}
            </td>
            <td>Período</td>
            <td>
              <!-- <select name="period_graduation" disabled>
                <option value="1" selected>1</option>
                <option value="2">2</option>
              </select>  -->
              {% if form.instance %}
                <input type="text" name="name" value="{{ form.instance.period_graduation }}" disabled>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Campus</td>
            <td>
              {% if form.instance %}
                <input type="text" name="name" value="{{ form.instance.campus }}" disabled>
              {% endif %}
            </td>
            <td>Curso</td>
            <td>
              {% if form.instance %}
                <input type="text" name="name" value="{{ form.instance.course }}" disabled>
              {% endif %}
            </td>

            <!-- <td>
               <select name="course" disabled>
                {% for course in courses %}
                  <p>{{ course.get_name_display }}</p>
                  <option 
                    value="{{ course.id }}"
                  >{{ course.name }} - {{ course.get_name_display }}</option>
                {% endfor %}
              </select>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="egress-tab" data-bs-toggle="tab" data-bs-target="#egress" type="button" role="tab" aria-controls="egress" aria-selected="true">Egressos</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="mentioned-tab" data-bs-toggle="tab" data-bs-target="#mentioned" type="button" role="tab" aria-controls="mentioned" aria-selected="false">Mencionados</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="message-tab" data-bs-toggle="tab" data-bs-target="#message" type="button" role="tab" aria-controls="message" aria-selected="false">Mensagem</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane tabs fade show active" id="egress" role="tabpanel" aria-labelledby="egress-tab">
        <div class="row">
          {% if not egress %}
            <p id="input2">Nenhum egresso cadastrado na placa</p>
          {% else %}
            {% for egress in egress %}
              <div class="col-md-4">
                <div class="card mt-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="{{ egress.photo.url }}" alt="Foto do Egresso">
                    </div>
                    <div class="col-md-8 mt-5">
                      <div class="card-body">
                        <h5 class="card-title">{{ egress.name }}</h5>
                        <p class="card-text"><small class="text-muted">Matricula:</small> {{ egress.enrollment }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="tab-pane tabs fade" id="mentioned" role="tabpanel" aria-labelledby="mentioned-tab">
        <div class="row">
          {% if not form.instance.pk %}
            <p id="input2">Nenhum mencionado cadastrado na placa</p>
          {% else %}
            {% for mentioned in form.instance.mentioned.all %}
              <div class="col-md-6">
                <div class="card mt-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-vector-avatar-icon-png-image_695765.jpg" alt="Foto do Egresso">
                    </div>
                    <div class="col-md-8 mt-5">
                      <div class="card-body">
                        <h5 class="card-title">{{ mentioned.name }}</h5>
                        <!-- <p class="card-text"><small class="text-muted">Matricula:</small> 329803183</p> -->
                        <p class="card-text"><small class="text-muted">Menção: </small>
                          {{ mentioned.get_mention_display }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="tab-pane tabs fade" id="message" role="tabpanel" aria-labelledby="message-tab">
        <div class="col-md-12">
          <textarea id="tab-textarea" cols="50" rows="12" name="message" placeholder="Mensagem" disabled></textarea>
        </div>
      </div>
    </div>    
  </div>
  </form>
</main>
{% endblock header %}


{% block content %}
  <div class="modalcontainer">
    <div class="modal">
      <button class="fechar" onclick="modal()">X</button>
      <h3>AVISO</h3>
      <p>Deseja realmente excluir a placa?</p>
      <button class="botaocrud2" onclick="modal()">Cancelar</button>      
      <button class="botaocrud" onclick="deleteUser(event)">Excluir</button>
    </div>        
  </div>

  <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">              
        <div class="modal-body">
          <!-- <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
          <img src="" class="imagepreview" style="width: 100%;" >
        </div>
      </div>
    </div>
  </div>
{% endblock content %}


{% block extra_js %}
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(function() {
      $('.pop').on('click', function() {
        $('.imagepreview').attr('src', $(this).find('img').attr('src'));
        $('#imagemodal').modal('show');   
      });
    });

    function modal() {
      if(document.querySelector('.modalcontainer').classList.contains('show')) {
        document.querySelector('.modalcontainer').classList.remove('show');
      }
      else {
        document.querySelector('.modalcontainer').classList.add('show');
      }
    }
    
    const deleteInput = document.querySelector('#cabecalho #deleteA');
    const titleText = document.querySelector('#cabecalho #title');
    
    const name = document.querySelector('[name="name"]');
    const boardName = document.querySelector('.boardName');
    // const year = document.querySelector('[name="year_graduation"]');
    const message = document.querySelector('[name="message"]');
    const date = document.querySelector('[name="graduation_date"]');
    const mentioned = document.querySelector('[name="mentioned"]');
    const course = document.querySelector('[name="course"]');
    
    let pk = parseInt(window.location.pathname.split('/')[2]);
    if (pk) {
      fetch("/boards/api/" + pk, {
        method: "GET",
        headers: {
          'X-CSRFToken': '{{ csrf_token }}',
        }
      }).then(res => {
        res.json().then(item => {
          item.forEach(element => {
            name.value = element.name;
            boardName.innerText = `Placa: ${element.name}`;
            // year.value = element.year_graduation;
            message.value = element.message;
            date.value = element.graduation_date;
            // mentioned.value = element.mentioned;
            // course.value = element.course;
          });
        })
      }).catch(err => {
        console.log("ERROR: " + err);
      });

      function deleteUser(e) {
        e.preventDefault();

        fetch("/boards/api/" + pk + "/", {
          method: "DELETE",
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
          }
        }).then(res => {
          window.location.href = "/boards";
        }).catch(err => {
          console.log("ERROR: " + err);
        });
      }
    }
  </script>
{% endblock extra_js %}
