{% extends "base.html" %}
{% load static humanize %}

{% block extra_css %}
  <style type="text/css">
    button[type="submit"] {
      width: 7%;
    }
  </style>
{% endblock extra_css %}


{% block header %}
<main id="content">
  <div id="cabecalho">
    <div>
      <p id="title">Visualizar Placa</p>
    </div>
    <div class="action-bar-container">
      <ul class="action-bar">
        <li><a href="{% url 'board:list' %}" style="background-color: #292929;">Cancelar</a></li>
        <li><a href="{{ board.get_update_url }}">Editar</a></li>
        <li>
          <a class="botaocrud btn-delete" id="deleteA" data-bs-toggle="modal" data-bs-target="#deleteModal">Excluir</a>
        </li>
      </ul>    
    </div> 
  </div>
  <div id="box">
    <div class="photo-circle big" style="border: 1px solid black;">
    {% if form.instance.pk %}
        {% if form.instance.photo %}
          <a href="#" class="pop">
            <img src="{{ form.instance.photo.url }}" alt="Foto da Placa" style="height: 100%; width: 100%;">
          </a>
        {% else %}
          <p>Nenhuma foto do cadastrada</p>
        {% endif %}
      {% endif %}
    </div>
    <div>
      <table class="info">
        <tbody>
          <tr>
            <td>Nome da placa</td>
            <td><input type="text" name="name" value="Nome da Placa" disabled></td>
            <td>Data formatura</td>
            <td><input type="date" name="graduation_date" value="Data de formatura" disabled></td>
          </tr>
          <tr>
            <td>Ano do período</td>
            <td>
              <!-- <input type="text" name="year_graduation" value="Ano do periodo" disabled> -->
              {% if form.instance %}
                <input type="text" name="name" value="{{ form.instance.get_year }}" disabled>
              {% endif %}
            </td>
            <td>Período</td>
            <td>
              {% if form.instance %}
                <input type="text" name="name" value="{{ form.instance.period_graduation }}" disabled>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Campus</td>
            <td>
              {% if form.instance %}
                <input type="text" name="name" value="{{ form.instance.campus }}" disabled>
              {% endif %}
            </td>
            <td>Curso</td>
            <td>
              {% if form.instance %}
                <input type="text" name="name" value="{{ form.instance.course }}" disabled>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container-fluid">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="egress-tab" data-bs-toggle="tab" data-bs-target="#egress" type="button" role="tab" aria-controls="egress" aria-selected="true">Egressos</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="mentioned-tab" data-bs-toggle="tab" data-bs-target="#mentioned" type="button" role="tab" aria-controls="mentioned" aria-selected="false">Mencionados</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="message-tab" data-bs-toggle="tab" data-bs-target="#message" type="button" role="tab" aria-controls="message" aria-selected="false">Mensagem</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane tabs fade show active" id="egress" role="tabpanel" aria-labelledby="egress-tab">
          <div class="row">
            {% if not egress %}
              <p id="input2" class="p-4">Nenhum egresso cadastrado na placa</p>
            {% else %}
              {% for egress in egress %}
                <div class="col-md-6">
                  <div class="card mt-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{ egress.photo.url }}" alt="Foto do Egresso">
                      </div>
                      <div class="col-md-8 mt-5">
                        <div class="card-body">
                          <h5 class="card-title">{{ egress.name }}</h5>
                          <p class="card-text"><small class="text-muted">Matricula:</small> 329803183</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="tab-pane tabs fade" id="mentioned" role="tabpanel" aria-labelledby="mentioned-tab">
          <div class="row">
            {% if not form.instance.pk %}
              <p id="input2">Nenhum mencionado cadastrado na placa</p>
            {% else %}
              {% for mentioned in form.instance.mentioned.all %}
                <div class="col-md-6">
                  <div class="card mt-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-vector-avatar-icon-png-image_695765.jpg" alt="Foto do Egresso">
                      </div>
                      <div class="col-md-8 mt-5">
                        <div class="card-body">
                          <h5 class="card-title">{{ mentioned.name }}</h5>
                          <!-- <p class="card-text"><small class="text-muted">Matricula:</small> 329803183</p> -->
                          <p class="card-text"><small class="text-muted">Menção: </small>
                            {{ mentioned.get_mention_display }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="tab-pane tabs fade" id="message" role="tabpanel" aria-labelledby="message-tab">
          <div class="col-md-12">
            <textarea id="tab-textarea" cols="50" rows="12" name="message" placeholder="Mensagem" disabled></textarea>
          </div>
        </div>
      </div>    
    </div>
  </div>  
</main>
{% endblock header %}


{% block content %}
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Excluir placa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Deseja realmente excluir o placa?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" onclick="deleteBoard(event)">Excluir</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}


{% block extra_js %}
  <script type="text/javascript">
    function modal() {
      if(document.querySelector('.modalcontainer').classList.contains('show')) {
        document.querySelector('.modalcontainer').classList.remove('show');
      }
      else {
        document.querySelector('.modalcontainer').classList.add('show');
      }
    }
    
    const deleteInput = document.querySelector('#cabecalho #deleteA');
    const titleText = document.querySelector('#cabecalho #title');
    
    const name = document.querySelector('[name="name"]');
    // const year = document.querySelector('[name="year_graduation"]');
    const message = document.querySelector('[name="message"]');
    const date = document.querySelector('[name="graduation_date"]');
    const mentioned = document.querySelector('[name="mentioned"]');
    const course = document.querySelector('[name="course"]');
    
    let pk = parseInt(window.location.pathname.split('/')[2]);
    if (pk) {
      fetch("/boards/api/" + pk, {
        method: "GET",
        headers: {
          'X-CSRFToken': '{{ csrf_token }}',
        }
      }).then(res => {
        res.json().then(item => {
          item.forEach(element => {
            // console.log("element.year_graduation", element.year_graduation);
            // year.value = element.year_graduation;
            // mentioned.value = element.mentioned;
            // course.value = element.course;

            name.value = element.name;
            message.value = element.message;
            date.value = element.graduation_date;
          });
        })
      }).catch(err => {
        console.log("ERROR: " + err);
      });

      function deleteBoard(e) {
        e.preventDefault();

        fetch("/boards/api/" + pk + "/", {
          method: "DELETE",
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
          }
        }).then(res => {
          window.location.href = "/boards";
        }).catch(err => {
          console.log("ERROR: " + err);
        });
      }
    }
  </script>
{% endblock extra_js %}
