{% extends "base.html" %}
{% load static humanize %}

{% block extra_css %}
  <style type="text/css">
    button[type="submit"] {
      width: 7%;
    }
  </style>
{% endblock extra_css %}


{% block header %}
<main>
  <div id="cabecalho">
      <div>
        <p id="title">Editar Curso</p>
      </div>
      <div>
        <a class="botaocrud" id="deleteA" onclick="modal()">EXCLUIR</a>
      </div>
  </div>
  <form method="POST" onsubmit="submitFormUser();" id="formUser">
    {% csrf_token %}
    <div id="new">   
      <div class="form">
        <label>Código</label>
        <input id="input1" type="number" name="code" value="">
      </div>       
      <div class="form">
        <label>Nome Curso</label>
        <input id="input2" type="text" name="name" value="">
      </div> 
    </div>    
    <div id="botoes">
      <a class="botaocrud2" href="{% url 'course:list' %}">Cancelar</a>
      <button type="submit" class="botaocrud">Confirmar</button>
    </div>
  </form>
</main>
{% endblock header %}


{% block content %}
  <div class="modalcontainer">
    <div class="modal">
      <button class="fechar" onclick="modal()">X</button>
      <h3>AVISO</h3>
      <p>Deseja realmente excluir o curso?</p>
      <button class="botaocrud2" onclick="modal()">Cancelar</button>      
      <button class="botaocrud" onclick="deleteUser(event)">Excluir</button>
    </div>        
  </div>
{% endblock content %}


{% block extra_js %}
  <script type="text/javascript">
    function modal() {
      if(document.querySelector('.modalcontainer').classList.contains('show')){
        document.querySelector('.modalcontainer').classList.remove('show')
      }
      else{
        document.querySelector('.modalcontainer').classList.add('show')
      }
    }  

    const deleteInput = document.querySelector('#cabecalho #deleteA');
    const titleText = document.querySelector('#cabecalho #title');
    const codigo = document.querySelector('#input1');
    const nome = document.querySelector('#input2');
    let pk = parseInt(window.location.pathname.split('/')[2]);

    if (pk) {
      fetch("/courses/api/" + pk, {
        method: "GET",
        headers: {
          'X-CSRFToken': '{{ csrf_token }}',
        }
      }).then(res => {
        res.json().then(item => {
          item.forEach(element => {
            codigo.value = element.code;
            nome.value = element.name;
          });
        })
      }).catch(err => {
        console.log("ERROR: " + err);
      });

      function deleteUser(e) {
        e.preventDefault();

        fetch("/courses/api/" + pk + "/", {
          method: "DELETE",
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
          }
        }).then(res => {
          window.location.href = "/courses";
        }).catch(err => {
          console.log("ERROR: " + err);
        });
      }
      
      function submitFormUser() {
        let codigo = document.querySelector('#input1').value;
        let nome = document.querySelector('#input2').value;

        fetch("/courses/api/" + pk + "/", {
          method: "PUT",
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Accept': 'application/json, text/plain',
            'Content-Type': 'application/json;charset=UTF-8',
          },
          body: JSON.stringify({
            code: codigo,
            name: nome,
          }),
        }).then(res => {
          res.json().then(item => {
            item.forEach(element => {
              codigo.value = element.code;
              nome.value = element.name;
            });
          })
        }).catch(err => {
          console.log("ERROR: " + err);
        });
      }
    } else {
      titleText.innerHTML = "Novo Curso";
      deleteInput.style.visibility = "hidden";
    }
  </script>
{% endblock extra_js %}
