{% extends "base.html" %}
{% load static humanize %}

{% block extra_css %}
  <style type="text/css">
  </style>
{% endblock extra_css %}


{% block header %}
<main>
  <div id="position">
    <div id="cabecalho">
      <div>
        <p>Cursos:</p>            
      </div> 
      <div class="action-bar-container">
        <ul class="action-bar">
          <li><a href="{% url 'course:list' %}" style="background-color: #292929;">Cancelar</a></li>
          <li><a href="{{ course.get_update_url }}">Editar</a></li>
          <li><a >Excluir</a></li>
        </ul>    
      </div> 
    </div>  
  </div>
  <form method="POST" onsubmit="submitFormUser();" id="formUser">
    {% csrf_token %}
    <div class="box">
      <table class="info">
        <tr>
          <td>Código</td>
          <td><input type="number" id="input1" name="codigo" value="Código" disabled></td>
          <td>Nome Curso</td>
          <td><input type="text" id="input2" name="name" value="SIAPE" disabled></td>
        </tr>
      </table>
    </div>  
  </form>
</main>
{% endblock header %}


{% block content %}
  <div class="modalcontainer">
    <div class="modal">
      <button class="fechar" onclick="modal()">X</button>
      <h3>AVISO</h3>
      <p>Deseja realmente excluir o curso?</p>
      <button class="botaocrud2" href="{% url 'course:list' %}">Cancelar</button>
      <button class="botaocrud" onclick="deleteUser(event)">Excluir</button>
    </div>        
  </div>
{% endblock content %}


{% block extra_js %}
  <script type="text/javascript">
    function modal() {
      if(document.querySelector('.modalcontainer').classList.contains('show')){
        document.querySelector('.modalcontainer').classList.remove('show')
      }
      else{
        document.querySelector('.modalcontainer').classList.add('show')
      }
    }  

    const deleteInput = document.querySelector('#cabecalho #deleteA');
    const codigo = document.querySelector('#input1');
    const nome = document.querySelector('#input2');
    let pk = parseInt(window.location.pathname.split('/')[2]);

    if (pk) {  
      fetch("/courses/api/" + pk, {
        method: "GET",
        headers: {
          'X-CSRFToken': '{{ csrf_token }}',
        }
      }).then(res => {
        res.json().then(item => {
          item.forEach(element => {
            codigo.value = element.code;
            nome.value = element.name;
          });
        })
      }).catch(err => {
        console.log("ERROR: " + err);
      });
    } else {
      deleteInput.style.visibility = "hidden";
    }
  </script>
{% endblock extra_js %}
