{% extends "base.html" %}
{% load static humanize %}

{% block extra_css %}
<style type="text/css">
  #apresentacao img {
    width: 7rem;
    margin: 0.3rem;
  }
  @media (max-width: 576px){
    #apresentacao img {
      width: 5rem;
      margin: 0.3rem;
    }
    .menu{
      width: 50%;
    }
  }
  @media (min-width: 577px) and (max-width: 768px){
    #apresentacao img {
      width: 5rem;
      margin: 0.3rem;
    }
    .menu{
      width: 60%;
    }
  }
</style>
{% endblock extra_css %}


{% block content %}
<div id="container" style="margin-top: 6rem;">
  <div id="apresentacao" class="my-3">
    {% if user.avatar %}
    <img id="loginimg" src="{{ request.user.get_avatar }}">
    {% else %}
    <img id="loginimg" src="{% static 'assets/avatar-new.png' %}">
    {% endif %}
    <p>Bem vindo(a),
      {% if user.get_full_name %}
      {{ user.get_full_name }}
      {% else %}
      Administrador
      {% endif %}
    </p>
  </div>

  <div class="row g-0">
    <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 row g-0">
      <div class="col-6 col-sm-4 d-flex justify-content-center mb-5"> <a class="botao" href="{% url 'core:list' %}"><img
            src="{% static 'assets/usuario.png' %}" class="menu"></a> </div>
      <div class="col-6 col-sm-4 d-flex justify-content-center mb-5"> <a class="botao" href="{% url 'campus:list' %}"><img
            src="{% static 'assets/campus.png' %}" class="menu"></a> </div>
      <div class="col-6 col-sm-4 d-flex justify-content-center mb-5"> <a class="botao" href="{% url 'course:list' %}"><img
            src="{% static 'assets/cursos.png' %}" class="menu"></a> </div>

      <div class="col-6 col-sm-4 d-flex justify-content-center mb-5"><a class="botao" href="{% url 'sending:list' %}"><img
            src="{% static 'assets/emails2.png' %}" class="menu"></a></div>
      <div class="col-6 col-sm-4 d-flex justify-content-center mb-5"><a class="botao" href="{% url 'egress:list' %}"><img
            src="{% static 'assets/egresso.png' %}" class="menu"></a></div>
      <div class="col-6 col-sm-4 d-flex justify-content-center mb-5"><a class="botao" href="{% url 'board:list' %}"><img
            src="{% static 'assets/placas.png' %}" class="menu"></a></div>
    </div>
  </div>
</div>
{% endblock content %}


{% block extra_js %}
<script type="text/javascript">
</script>
{% endblock extra_js %}