{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Placas Virtuais - IFRN, Central</title>
    <meta name="description" content="Plataforma dedicada a placas de formatura do campus Natal Central - IFRN">
    <link rel="shortcut icon" href="{% static 'assets/favicon.svg' %}" type="image/svg">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/stylesExtern.css' %}">

    <!-- Demo styles -->
    <style>
      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 80%;
        height: 80%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 800px;
        object-fit: cover;
      }
    </style>
  </head>

  <body>
    <header class="container-fluid">
      <div class="row m-0">
        <div class="col-md-12">
          <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="box-shadow: 0 0px 0px rgb(0 0 0 / 20%), 0 0px 0px rgb(0 0 0 / 14%), 0 2px 10px -2px rgb(0 0 0 / 12%);">
            <div class="container-fluid">
              <a class="navbar-brand" href="/" style="font-size: 1.5rem;">
                Placas de Formatura Virtual
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText" style="flex-grow: 0 !important;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"style="padding-right: 5rem;">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#graduates">Récem-formandos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#search">Turmas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#infos">Informações</a>
                  </li>
                </ul>
                {% if user.is_authenticated %}
                  <a href="{% url 'account_logout' %}" class="btn btn-danger m-3" style="width: 5rem;">Logout</a>
                  
                  {% if user.avatar %}
                    <img id="loginimg" src="{{ request.user.get_avatar }}">
                  {% else %}
                    <img src="{% static 'assets/avatar-header.png' %}" style="width: 2rem;">
                  {% endif %}
                {% else %}
                  <a href="/suap_login/" class="btn btn-success m-3" style="width: 5rem;">Entrar</a>
                {% endif %}
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <main>
      <!-- recem-formandos -->
      <section id="graduates" class="container middle-content">
        <div id="teste">
          <img src="{% static 'assets/imagem-2.svg' %}" style="width: 15%;">
          <p>Récem-formandos</p>
        </div>
        
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://i.pinimg.com/originals/d1/a2/0c/d1a20c76ac4b7a77d906581f6bf3ecaf.jpg" alt="...">
            </div>
            <div class="swiper-slide">
              <img src="https://i.pinimg.com/originals/df/ee/e3/dfeee3883978e1ede8aaacd857e94230.jpg" alt="...">
            </div>
            <div class="swiper-slide">
              <img src="https://yata.ostr.locaweb.com.br/4b440d5f1049352bc182d8781b7bc08d226c98ef793ed335204069ff9e30e1cd" alt="...">
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>

        <!--Carrosel-->
        <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            {% if object_list %}
              {% for board in object_list|slice:":3" %}
                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" data-interval="100">
                  <img src="{{ board.photo.url }}" class="d-block w-100" alt="{{ board.name }}">
                </div>

                <div class="carousel-item active">
                  <img src="https://i.pinimg.com/originals/d1/a2/0c/d1a20c76ac4b7a77d906581f6bf3ecaf.jpg" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                  <img src="https://i.pinimg.com/originals/93/8f/51/938f51313579266c0dd63623eeca037d.jpg" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                  <img src="https://i.pinimg.com/originals/78/d8/35/78d835939efbbe6873894007126fac01.jpg" class="d-block w-100" alt="...">
                </div>
              {% endfor %}
            {% else %}
              <div class="carousel-item active">
                <img src="https://i.pinimg.com/originals/d1/a2/0c/d1a20c76ac4b7a77d906581f6bf3ecaf.jpg" class="d-block w-100" alt="...">
              </div> 
            {% endif %}  
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div> -->
        <!--Fim Carrosel-->
        <div id="row">
          <img src="{% static 'assets/scroll.svg' %}">
        </div>
      </section>

      <section id="search" class="bg-content-search">
        <div class="container">
          <div class="d-flex justify-content-center flex-column align-items-center pt-5" style="padding-top: 7rem !important;">
            <!-- <img src="{% static 'assets/imagem-3.svg' %}"> -->
            <h1>Encontre sua turma</h1>
            <p>Plataforma dedicada a placas de formatura do campus Natal Central - IFRN</p>
          </div>      
          <div class="search-and-filters row">
            <form method="GET" action=".#search" style="display: flex; justify-content: space-between;">
              <div class="filter">
                <label>Nome Formando:</label>
                <input type="text" name="name" placeholder="" value="" />
              </div>
              <div class="filter" >
                <label>Ano:</label>
                <select name="year" id="setoruo_select">
                  {% for year in years %}
                    <option
                      value="{{ year.get_year }}"
                    >{{ year.get_year }}</option>
                  {% endfor %}
                </select>
              </div>            
              <div class="filter" >
                <label>Período:</label>  
                  <select name="period" class="select">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
              </div>
              
              <div class="filter" >
                <label>Curso:</label>
                <select name="course" class="select" placeholder="Selecione o curso">
                  <option value=""></option>
                  {% for course in courses %}
                    <option
                      value="{{ course.id }}"
                    >{{ course.name }}</option>
                  {% endfor %}
                </select>
              </div>  
              <div class="mt-1">
                <button type="submit" class="btn btn-success">
                  <i aria-hidden="true" role="presentation" class="cursor-pointer material-icons q-icon notranslate text-white mt-2">search</i>
                </button>
              </div>
            </form> 
          </div>

          {% if object_list %}
          <div class="container" class="row">
            {% for board in object_list %}
            <a href="{{ board.get_preview_extern_url }}" class="d-flex result-item">
              <img src="{{ board.photo.url }}" class="result-image rounded-circle" alt="Foto do egresso">
              <div class="d-flex flex-column justify-content-center align-items-start" style="margin-left: 4rem;">
                <h4>{{ board.name|capfirst }}</h4>
                <span>{{ board.course }} / {{ board.campus }} - {{ board.get_year }}.{{ board.period_graduation }}</span>
              </div>
            </a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </section>

      <section id="infos" class="p-5">
        <div class="container">
          <div class="d-flex justify-content-center pt-5">
            <img src="{% static 'assets/imagem-1.svg' %}" class="pr-4" style="width: 30%; margin-right: 3rem;">
            <div class="info">
              <h4>Encontre a sua diretoria</h4>
              <ul>
                <li><a href="/cnat/diatinf">DIATINF</a></li>
                <li><a href="#">DIAC</a></li>
                <li><a href="#">DIACON</a></li>
                <li><a href="#">DIAREN</a></li>
                <li><a href="#">DIACIN</a></li>
              </ul>
            </div>
          </div>
          <div class="d-flex justify-content-center pt-5 pl-5">
            <div class="info d-flex justify-content-center flex-column info">
              <h4>Conheça mais sobre nosso sistema</h4>
              <span>Para isso terá que ser credenciado no sistema*</span><br>
              <a href="/suap_login/" class="btn btn-success" style="width: 5rem;">Entrar</a>
            </div>
            <img src="{% static 'assets/imagem-3.svg' %}" style="width: 20%;">
          </div>
        </div>
      </section>

      <section id="footer">
        <div class="custom-shape-footer print-hide">
          <svg viewBox="0 0 508 29.21"><g transform="translate(133.27 -145.43)"><path d="m-133.27 174.64h508v-19.577s-24.536-9.2467-56.268-9.6266c-31.732-0.37986-59.03 15.343-105.39 18.24-59.245 3.7018-85.195-13.433-118.84-13.015-30.695 0.38115-37.826 25.86-89.397 11.495-41.761-11.632-52.309 2.0176-81.572 2.5333-29.263 0.51572-56.537-9.6266-56.537-9.6266z" fill="#4c566a" stroke-width="1.804"></path></g></svg>
        </div>
        <div class="footer-text p-5">
          <div class="container text-center d-flex flex-column justify-content-center align-items-center">
            © 2021 Copyright - IFRN/CNAT - Todos os direitos reservados.
            <img class="w-25 mt-2" src="{% static 'assets/ifrn-cnat.jpeg' %}" alt="IFRN - CNAT">
          </div>
        </div>
      </section>
    </main>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('select').selectize({
        sortField: 'text'
      });
    });

    function checkParams(field) {
      var url = window.location.href;
      if (url.indexOf('?' + field + '=') != -1)
        return true;
      else if (url.indexOf('&' + field + '=') != -1)
        return true;
      return false;
    }

    const urlParams = new URLSearchParams(window.location.search);
    const name = document.querySelector('[name="name"]');
    const year = document.querySelector('[name="year"]');
    const period = document.querySelector('[name="period"]');
    const course = document.querySelector('[name="course"]');

    name.value = urlParams.get('name');
    year.value = urlParams.get('year') === null ? "" : urlParams.get('year');
    period.value = urlParams.get('period') === null ? "" : urlParams.get('period');
    course.value = urlParams.get('course') === null ? "" : urlParams.get('course');
  </script>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</html>
