{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Placas Virtuais - IFRN, Central</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="{% static 'css/stylesextern.css' %}">
  </head>

  <body>
    <div id="header">
      <div id="barra">
        <a href="{% url 'core:index' %}"><img src="{% static 'assets/PFV.png' %}"></a>
        <div> 
          {% if user.is_authenticated %}
            <img id="loginimg" src="{% static 'assets/login.png' %}">
            <a href="{% url 'account_logout' %}">Logout</a>
          {% else %}
            <a href="{% url 'account_login' %}">Login</a>
          {% endif %}
        </div>            
      </div>
    
    <main>
      <div>
        <h1>PLACAS DE FORMATURA</h1>
      </div>     
      <div>
          <h1>VIRTUAIS</h1>
      </div> 
      <div class="search-and-filters">    
        <form method="GET" action=".">
          <div class="filter">
            <label>Nome Formando:</label>
            <input type="text" name="name" placeholder="" value="" />
          </div>
          <div class="filter" >
            <label>Ano:</label>
            <select name="year" id="setoruo_select">
              <option value=""></option>
              {% for year in years %}
                <option
                  value="{{ year.get_year }}"
                >{{ year.get_year }}</option>
              {% endfor %}
            </select>
          </div>  
          <div class="filter" >
            <label>Período:</label>        
            <select name="period" class="select">
              <option value=""></option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div> 
          <div class="filter" >
            <label>Campi:</label>          
            <select name="course" class="select">
              <option value=""></option>
                <option
                  value=""></option>
            </select>
          </div> 
          <div class="filter" >
            <label>Curso:</label>          
            <select name="course" class="select">
              <option value=""></option>
              {% for course in courses %}
                <option
                  value="{{ course.id }}"
                >{{ course.name }}</option>
              {% endfor %}
            </select>
          </div>  
          <div class="submit-button">            
            <button id="button_filter" type="submit">Filtrar</button>
          </div>
        </form> 
      </div>
    
      <div class="results">
        <table id="result_list">
          <thead>
            <tr>
              <th>Foto</th>
              <th>Nome do Formando</th>
              <th>Curso</th>
              <th>Ano</th>
              <th>Periodo</th>
            </tr>
          </thead>
          <tbody>
            {% for board in object_list %}
              <tr>
                <td>{{ board.name }}</td>
                <td>{{ board.course }}</td>
                <td>{{ board.get_year }}</td>
                <td>{{ board.period_graduation }}</td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
      
    </main>
  </body>

  <script type="text/javascript">
    function checkParams(field) {
      var url = window.location.href;
      if (url.indexOf('?' + field + '=') != -1)
        return true;
      else if (url.indexOf('&' + field + '=') != -1)
        return true;
      return false;
    }

    const urlParams = new URLSearchParams(window.location.search);
    const name = document.querySelector('[name="name"]');
    const year = document.querySelector('[name="year"]');
    const period = document.querySelector('[name="period"]');
    const course = document.querySelector('[name="course"]');

    name.value = urlParams.get('name');
    year.value = urlParams.get('year') === null ? "" : urlParams.get('year');
    period.value = urlParams.get('period') === null ? "" : urlParams.get('period');
    course.value = urlParams.get('course') === null ? "" : urlParams.get('course');
  </script>
</html>
