{% extends "base.html" %}
{% load static humanize %}

{% block extra_css %}
  <style type="text/css">
  </style>
{% endblock extra_css %}


{% block header %}
  <div id="cabecalho">
    <div>
      <p>EDITAR USUÁRIO</p>            
      <a class="botaocrud" href="newusuario.html">NOVO</a>
      <a class="botaocrud" onclick="modal()">EXCLUIR</a>
    </div>  
  </div>
  <form method="PUT" action="">
    {% csrf_token %}
    <div id="newusuario">    
        <input id="siape" type="number" name="username" value="SIAPE">
        <input id="nomeusuario" type="text" name="username" value="Nome usuário">
        <input id="email" type="text" value="Email">
    </div>        
    <div id="botoes">
        <a class="botaocrud2" href="usuario.html">CANCELAR</a>
        <!-- <a class="botaocrud" type="submit">ADICIONAR</a> -->
        <button type="submit" class="botaocrud">Adicionar</button>
    </div>
  </form> 

{% endblock header %}


{% block content %}
    <div class="modalcontainer">
        <div class="modal">
            <button class="fechar" onclick="modal()">X</button>
            <h3>AVISO</h3>
            <p>Deseja realmente excluir o usuário?</p>
            <button class="botaocrud2">CANCELAR</button>
            <button class="botaocrud">EXCLUIR</button>
        </div>        
    </div>
{% endblock content %}


{% block extra_js %}
  <script type="text/javascript">
    function modal() {
        if(document.querySelector('.modalcontainer').classList.contains('show')){
            document.querySelector('.modalcontainer').classList.remove('show')
        }
        else{
            document.querySelector('.modalcontainer').classList.add('show')
        }
    }    
  </script>
{% endblock extra_js %}
