{% extends "base.html" %}
{% load static humanize %}

{% block extra_css %}
  <style type="text/css">
    button[type="submit"] {
      width: 15%;
    }
  </style>
{% endblock extra_css %}


{% block header %}
<main>
<div id="position">
  <div id="cabecalho">
    <div>
      <p>Usuários do sistema</p>  
    </div>
    <div>
      <a class="botaocrud" href="{{ user.get_create_url }}">Novo</a>
    </div>  
  </div>  
</div>
  <!--
  <div id="search">     
    <form method="GET" action="{% url 'account_login' %}">
      {% csrf_token %}
      <input id="input2" type="text" placeholder="nome usuário"/>
      <button type="submit" class="botaocrud">Filtrar</button>
    </form> 
  </div >
  -->
  <div class="search-and-filters row m-0">
    <form method="GET" action="." style="justify-content: flex-start; display: flex;">
      <div class="filter">
        <label>Nome Usuário:</label>
        <input type="text" name="name" placeholder="" value="" />
      </div>
      <div class="filter">
        <label>Siape:</label>
        <input type="text" name="name" placeholder="" value="" />
      </div>
      <div class="submit-button col-1">            
        <button id="button_filter" type="submit">Filtrar</button>
      </div>
    </form>
  </div>  

  <div class="results" class="row">
    <table id="result_list">
      <thead>
        <tr>
          <th class="col-sm-1">#</th>
          <th>Nome</th>
          <th>SIAPE</th>
          <th>Email</th>
        </tr>
      </thead>

      <tbody>
        {% for user in object_list %}
          <tr>
            <th class="field-show_list_display_icons">
              <a class="icon icon-view" href="{{ user.get_preview_url }}"><img src="{% static 'assets/lupa.png' %}"></a>
            </th>
            <!--
            <td>
              <a class="botaocrud2" href="{{ user.get_update_url }}">Editar</a>
              <a class="botaocrud2" href="{{ user.get_preview_url }}">Visualizar</a>
            </td>
            -->
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>   
{% endblock header %}


{% block extra_js %}
  <script type="text/javascript">
    // fetch("/users/api/", {
    //   method: "GET",
    //   headers: {
    //     'X-CSRFToken': '{{ csrf_token }}',
    //   }
    // }).then(res => {
    //   const table = document.querySelector('#table > table');

    //   res.json().then(item => {
    //     item.forEach(element => {
    //       console.log("element", element);
    //       let pk = element.pk;
    //       let name = element.first_name + " " + element.last_name;
    //       let siape = element.username;
    //       let email = element.email;
          
    //       let newRow = table.insertRow(-1);
    //       let cellName = newRow.insertCell(0);
    //       let infoName = document.createTextNode(`${name}`);

    //       let cellSiape = newRow.insertCell(1);
    //       let infoSiape = document.createTextNode(`${siape}`);

    //       let cellEmail = newRow.insertCell(2);
    //       let infoEmail = document.createTextNode(`${email}`);

    //       // let cellOptions = newRow.insertCell(3);
    //       // let infoOptions = document.createTextNode(`
    //       //   <a class="botaocrud2" href="editusuario.html">EDITAR</a>
    //       //   <a class="botaocrud2" href="viewusuario.html">VISUALIZAR</a>
    //       // `);

    //       cellName.appendChild(infoName);
    //       cellSiape.appendChild(infoSiape);
    //       cellEmail.appendChild(infoEmail);
    //       // cellOptions.appendChild(infoOptions);
    //     });
    //   })
    // }).catch(err => {
    //   console.log("ERROR: " + err);
    // });
  </script>
{% endblock extra_js %}
