{% extends "base.html" %}
{% load static humanize %}

{% block extra_css %}
  <style type="text/css">
    button[type="submit"] {
      width: 15%;
    }
  </style>
{% endblock extra_css %}


{% block header %}
<main>
<div id="position">
  <div id="cabecalho">
    <div>
      <p>Usuários do sistema</p>  
    </div>
    <div>
      <a class="botaocrud" href="{{ user.get_create_url }}">Novo</a>
      <a class="botaocrud btn-import" id="import" data-bs-toggle="modal" data-bs-target="#importModal">Importar</a>
    </div>  
  </div>  
</div>
  <!--
  <div id="search">     
    <form method="GET" action="{% url 'account_login' %}">
      {% csrf_token %}
      <input id="input2" type="text" placeholder="nome usuário"/>
      <button type="submit" class="botaocrud">Filtrar</button>
    </form> 
  </div >
  -->
  <div class="search-and-filters row m-0">
    <form method="GET" action="." style="justify-content: flex-start; display: flex;">
      {% csrf_token %}
      <div class="filter">
        <label>Nome Usuário:</label>
        <input type="text" name="name" placeholder="" value="" />
      </div>
      <div class="filter">
        <label>Siape:</label>
        <input type="text" name="name" placeholder="" value="" />
      </div>
      <div class="submit-button col-1">            
        <button id="button_filter" type="submit">Filtrar</button>
      </div>
    </form>
  </div>  

  <div class="results" class="row">
    <table id="result_list">
      <thead>
        <tr>
          <th class="col-sm-1">#</th>
          <th>Nome</th>
          <th>SIAPE</th>
          <th>Email</th>
        </tr>
      </thead>

      <tbody>
        {% for user in object_list %}
          <tr>
            <th class="field-show_list_display_icons">
              <a class="icon icon-view" href="{{ user.get_preview_url }}"><img src="{% static 'assets/lupa.png' %}"></a>
            </th>
            <!--
            <td>
              <a class="botaocrud2" href="{{ user.get_update_url }}">Editar</a>
              <a class="botaocrud2" href="{{ user.get_preview_url }}">Visualizar</a>
            </td>
            -->
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>   
{% endblock header %}


{% block content %}
  <div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="importModalLabel">Importar usuário via SUAP</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="search-and-filters row pt-0" style="background-color: white;">
            <form onsubmit="queryDataImport(event)">
              <div>
                <label>Siape do usuário:</label>
                <input type="number" name="search_siape" placeholder="" value="" required />
              </div>
              <div class="submit-button col-1">            
                <button type="submit" id="button_filter" style="margin: 1rem !important">Filtrar</button>
              </div>
            </form>
          </div>

          <div class="container">
            <ul id="search_list"></ul>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" onclick="importUser(event)">Importar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}


{% block extra_js %}
  <script type="text/javascript">
    function queryDataImport(e) {
      e.preventDefault();
      
      let pk = document.querySelector('[name="search_siape"]').value;
      const ul = document.querySelector('#search_list');

      fetch("http://placas-virtuais.suapdevs.ifrn.edu.br/edu/api/dados_servidor/?matricula=" + pk, {
        method: "GET",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'Authorization': 'Token {{ TOKEN_SUAP_SECRET }}'
        }}).then((response) => {
            // remove all childs
            ul.innerHTML = '';

            window.localStorage.removeItem('user');

            return response.json().then((data) => {
              if (data.matricula !== undefined) {
                let avatar;
                if (data.foto === "") {
                  avatar = "";
                } else {
                  avatar = `https://suap.ifrn.edu.br/media/${data.foto}`
                }

                const user = {
                  username: data.matricula,
                  firstname: data.nome,
                  email: data.email,
                  avatar: avatar
                }
                window.localStorage.setItem('user', JSON.stringify(user));
  
                let li = document.createElement("li");
                li.appendChild(document.createTextNode(`${data.nome}`));
                ul.appendChild(li);
              } else {
                let li = document.createElement("li");
                li.appendChild(document.createTextNode("Matricula não válida"));
                ul.appendChild(li);                
              }
            }).catch((err) => {
              console.log("err", err);
            }) 
        });
    }

    function importUser(e) {
      e.preventDefault();

      let userData = window.localStorage.getItem('user');
      fetch("/users/api/", {
        method: "POST",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}',
        },
        body: JSON.stringify(userData)
      }).then(res => {
        if (res.status === 200) {
          swal({
            title: "Usuário Salvo!",
            text: "Usuário foi importado via SUAP com sucesso!",
            icon: "success",
            buttons: {
              cancel: {
                text: "Cancel",
                className: "btn btn-secondary waves-effect waves-light"
              },
              confirm: {
                text: "OK",
                className: "btn btn-primary btn-gradient waves-effect waves-light",
              }
            }
          });

          setTimeout(()=> {
            location.reload();
          }, 2000);
        } else {
            swal({
              title: "Usuário Não Salvo!",
              text: "Usuário não foi importado via SUAP!",
              icon: "error",
              buttons: {
                cancel: {
                  text: "Cancel",
                  className: "btn btn-secondary waves-effect waves-light"
                },
                confirm: {
                  text: "OK",
                  className: "btn btn-primary btn-gradient waves-effect waves-light",
                }
              }
            });
          
          setTimeout(()=> {
            location.reload();
          }, 2000);
        }

        window.localStorage.removeItem('user');
      }).catch(err => {
        console.log("ERROR: " + err);
      });

    }
  </script>
{% endblock extra_js %}
