{% extends "base.html" %}
{% load static humanize %}

{% block extra_css %}
  <style type="text/css">
  </style>
{% endblock extra_css %}


{% block header %}
<div id="position">
  <div id="cabecalho">
    <div>
      <p>Usuários do Sistema</p>            
      <a class="botaocrud" href="{{ user.get_create_url }}">NOVO</a>
    </div>  
  </div>  
  <div id="search">    
    <form method="GET" action="{% url 'account_login' %}">
      {% csrf_token %}
      <input id="input2" type="text" value="nome usuário" />
      <button type="submit" class="botaocrud">Pesquisar</button>
    </form> 
  </div>
<!--{% endblock header %}


{% block content %}-->
  <div id="table">
    <table>
      <tr>
        <th>Nome</th>
        <th>SIAPE</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>

      {% for user in object_list %}
        <tr>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>
            <a class="botaocrud2" href="{{ user.get_update_url }}">Editar</a>
            <a class="botaocrud2" href="{{ user.get_preview_url }}">Visualizar</a>
          </td>
        </tr>
      {% endfor %}
      
      <!--<tr>
        <td>Luenne Gomes Mafra</td>
        <td>202020039</td>
        <td>jj99pp@hotmail.com</td>
        <td>
          <a class="botaocrud2" href="editusuario.html">EDITAR</a>
          <a class="botaocrud2" href="viewusuario.html">VISUALIZAR</a>
        </td>
      </tr>-->
    </table>
  </div>   
</div>   
{% endblock content %}


{% block extra_js %}
  <script type="text/javascript">
    // fetch("/users/api/", {
    //   method: "GET",
    //   headers: {
    //     'X-CSRFToken': '{{ csrf_token }}',
    //   }
    // }).then(res => {
    //   const table = document.querySelector('#table > table');

    //   res.json().then(item => {
    //     item.forEach(element => {
    //       console.log("element", element);
    //       let pk = element.pk;
    //       let name = element.first_name + " " + element.last_name;
    //       let siape = element.username;
    //       let email = element.email;
          
    //       let newRow = table.insertRow(-1);
    //       let cellName = newRow.insertCell(0);
    //       let infoName = document.createTextNode(`${name}`);

    //       let cellSiape = newRow.insertCell(1);
    //       let infoSiape = document.createTextNode(`${siape}`);

    //       let cellEmail = newRow.insertCell(2);
    //       let infoEmail = document.createTextNode(`${email}`);

    //       // let cellOptions = newRow.insertCell(3);
    //       // let infoOptions = document.createTextNode(`
    //       //   <a class="botaocrud2" href="editusuario.html">EDITAR</a>
    //       //   <a class="botaocrud2" href="viewusuario.html">VISUALIZAR</a>
    //       // `);

    //       cellName.appendChild(infoName);
    //       cellSiape.appendChild(infoSiape);
    //       cellEmail.appendChild(infoEmail);
    //       // cellOptions.appendChild(infoOptions);
    //     });
    //   })
    // }).catch(err => {
    //   console.log("ERROR: " + err);
    // });
  </script>
{% endblock extra_js %}
