/* geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  border: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#bodylogin {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
main {
  padding: 0px 40px 0px;
  margin-top: 10px;
}
/* barra */
#header {
  width: 100%;
  position: absolute;
  top: 0;
}
#barra {
  background-color: #292929;
  color: #ffffff;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#barra > div {
  display: flex;
  align-items: center;
}
#barra > div > p {
  margin: 0 10px;
  cursor: pointer;
}
#barra img {
  width: 3.5rem;
}
#barra > div > img {
  width: 2rem;
  margin-left: 0.5rem;
}
a {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}
a:hover {
  color: inherit;
}

/* tela login */
#login {
  background-color: #dddddd;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  width: 350px;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

#login img {
  width: 50px;
  float: left;
}

#login > div {
  display: flex;
  align-items: center;
}

#login > div > p {
  font-size: 30px;
}
form > div {
  display: flex;
  margin-top: 20px;
}

input {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
}

button[type="submit"] {
  color: #ffffff;
  background-color: #25a25a;
  cursor: pointer;

  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

#search button[type="submit"] {
  color: #ffffff;
  background-color: #292929;
  cursor: pointer;

  border-radius: 3rem;
  padding: 10px;
}

#submit {
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
  height: 40px;
  color: #ffffff;
  background-color: #292929;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-left: 15px;
}
#voltar {
  width: 100%;
  cursor: pointer;
  border: solid #292929;
  margin-right: 15px;
  background-color: #ffffff;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 15px;
}

/* tela dashboard*/
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#apresentacao {
  width: 300px;
  padding: 50px;
  display: flex;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#apresentacao img {
  width: 50px;
  float: left;
}
#apresentacao p {
  margin-top: 10px;
  font-size: 20px;
}
#superior {
  display: flex;
  justify-content: center;
  align-items: center;
}
#inferior {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botao {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 160px;
  height: 160px;
  background-color: #f1f1f1;
  margin: 0px 70px;
  cursor: pointer;
  border-radius: 5px;
}
.botao img {
  width: 80%;
  display: flex;
  margin: 10px 10px;
}

/*formatações*/
#botoes {
  display: flex;
  align-items: center;
}
.botaocrud {
  background-color: #292929;
  border-radius: 5px;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  margin-right: 0.5rem;
}
.botaocrud2 {
  background-color: #292929;
  color: #fff;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 15px;
}
.botaocrud3 {
  background-color: #6c757d;
  border-radius: 5px;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
}
/*Cabeçalho*/
#position {
  display: flex;
  flex-direction: column;
}
#cabecalho {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
#cabecalho > div {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}
#cabecalho a {
  width: 100px;
  text-align: center;
  background: #25a25a;
  border-radius: 3rem;
  font-size: 1.1rem;
}

#cabecalho .btn-delete {
  background: #e23030;
  color: #fff;
}
#cabecalho .btn-import {
  background-color: #6c757d;
  color: #fff;
}
#cabecalho p {
  font-weight: 700;
  font-size: 2rem;
}
/*Lista*/
.search-and-filters {
  background-color: #f6f6f6;
  border-radius: 5px;
  clear: both;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  float: none;
  padding: 20px 15px 0;
  position: relative;
  width: 100%;
}

.filter {
  float: left;
  margin: 0 15px 15px 0;
  max-width: 210px;
  min-width: 160px;
  padding: 0;
  width: auto;
}
.search-and-filters form > div {
  display: inline;
  float: left;
  width: auto;
}
.search-and-filters input {
  max-width: 100%;
  padding: 4px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 100%;
  height: 38px;
}
.search-and-filters label,
.search-and-filters form div.form-row label {
  color: #666;
  display: block;
  float: none;
  font-size: 90%;
  margin: 0;
  max-width: 158px;
  text-align: left !important;
  width: auto;
}
.search-and-filters .submit-button {
  margin-top: 15px;
}
#button_filter {
  background-color: #292929;
  color: #fff;
  padding: 10px 15px;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  white-space: nowrap;
  width: 100%;
}
.search-and-filters select {
  margin-top: 2px;
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 100%;
  height: 38px;
}
select option {
  padding: 3px 5px;
}
/*Table*/
.results {
  clear: both;
  overflow: auto;
  margin-top: -1px;
  margin-top: 10px;
}
form > div {
  display: inline-block;
  width: 100%;
}
table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  overflow: auto;
  width: 100%;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
thead th {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  color: #666;
  font-weight: 900;
  padding: 10px 8px;
  text-align: left;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
tbody td,
tbody th {
  background-color: #f9f9f9;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #eee;
  box-shadow: 1px 1px 0 #fff inset;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
}
.icon img {
  width: 2rem;
}
td .icon,
th .icon {
  font-size: 90%;
  margin-bottom: 2px;
  margin-top: 5px;
  opacity: 0.9;
}
div.photo-circle {
  border-radius: 50%;
  float: left;
  height: 60px;
  margin: 7px 10px 10px 0;
  overflow: hidden;
  width: 60px;
}
th .icon {
  display: inline-block;
  font-size: 115%;
  margin: 5px;
}

.rounded-circle {
  max-width: 8rem;
}
/*PreView*/
.title-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}
h2 {
  color: #292929;
  font-weight: bold;
  float: left;
  font-size: 200%;
  margin: 0 0 20px;
  max-width: 80%;
  padding: 0 0 5px;
}
.title-container > .action-bar-container {
  order: 3;
  padding-left: 25px;
}
.title-container > .action-bar-container .action-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}

.action-bar {
  background-color: transparent;
  border: 0 none;
  float: right;
  padding: 0;
  width: auto;
}
.action-bar li {
  float: left;
  list-style: none;
  margin: 0 0 5px 5px;
}
.action-bar a {
  padding: 8px 14px;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  white-space: nowrap;
  text-decoration: none;

  background-color: #25a25a;
  color: #ffffff;
  border-radius: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem;
}
table.info {
  border: 0 none;
  display: table;
  margin: 0 0 20px;
}
table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  overflow: auto;
  width: 100%;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
table.info td:nth-child(odd) {
  color: #666;
  font-weight: 900;
  text-align: right;
}

table.info td:first-child {
  width: 10%;
}
table.info td {
  background-color: transparent;
  border: 0 none;
  box-shadow: 0 0 0 transparent;
  padding: 7px;
}
/*modal*/
.modal-content {
  width: 150% !important;
  margin: -3rem !important;
  margin-left: -7rem !important;
}
.modalcontainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.modalcontainer.show {
  display: flex;
}
.modal p {
  font-size: 20px;
  margin-bottom: 20px;
}
.modal {
  /* background-color: white; */
  width: 100%;
  height: 90%;
  padding: 35px;
  border-radius: 10px;
  /* border: 5px solid #292929; */
  position: relative;
}
.hidden {
  display: none;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
#new {
  display: flex;
  flex-direction: column;
}
.form {
  background-color: #f6f6f6;
  border-bottom: 1px solid #eee;
  border-left: 0 none;
  border-right: 0 none;
  border-top: 0 none;
  font-size: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  width: 100%;
  padding: 10px;
}
.form label {
  font-size: 100%;
  margin: 3px 10px 0 5px;
  text-align: right;
  width: 150px;
}
.form input {
  width: 80%;
}
.box {
  clear: both;
  margin-bottom: 30px;
  width: 100%;
}
div.photo-circle.big {
  height: 150px;
  width: 150px;
}
div.photo-circle {
  border-radius: 50%;
  float: left;
  height: 60px;
  margin: 7px 10px 10px 0;
  overflow: hidden;
  width: 60px;
}
div.photo-circle + div {
  display: flex;
}

/*Egressos, mencionados e mensagem*/
.tabs {
  border-bottom: 1px solid #666;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
}
.pills,
.tabs {
  clear: both;
  display: inline-block;
  padding: 0;
  width: 100%;
}
.tabs li.active:hover {
  background-color: #fff;
}
.tabs.with-content li {
  border-bottom-color: #fff;
  margin-bottom: 0;
}
.tabs li.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  font-weight: 900;
  position: relative;
  z-index: 2;
}
.tabs li:hover {
  background-color: #eee;
}
.tabs li {
  background-color: #f6f6f6;
  border: 1px solid #fff;
  border-bottom-color: #666;
  border-radius: 10px 10px 0 0;
  float: left;
  line-height: 1.2em;
  margin: 5px 5px -1px 0;
}

#tab-textarea {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}

.card img {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  border: thin solid #292929;
  border-radius: 50%;
  max-width: 8rem;
  width: 8rem;
  height: 8rem;
  margin: 2rem;
  text-align: center;
}

.card .g-0 {
  background-color: #eeeeee;
}

.tabs {
  border: 1px solid #dee2e6;
  margin-top: -1px;
  border-radius: 0 5px 5px 5px;
  padding: 1rem;
}

.tabs h5,
p {
  font-size: 1.5rem;
  color: #666666;
  font-weight: 700;
}
.tabs small {
  font-weight: 500;
}

/* .tabs {} */

.button-circle {
  border-radius: 50%;
  width: 30%;
}

.button-add-circle {
  border-radius: 50%;
  width: 30%;
  background-color: #25a25a;
}

.selectize-input {
  width: 200px !important;
  min-width: 100px;
  max-width: 200px;
  height: 40px;
}
