* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  border: none;
}
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

/* barra */
header {
  padding: 0 !important;
  background-color: #292929;
}
header img {
  width: 40px;
}
header a {
  color: #fff !important;
}
a {
  text-decoration: none;
}
#barra {
  background-color: #f1f1f1;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#barra > div {
  display: flex;
  align-items: center;
}
#barra > div > p {
  margin: 0 10px;
  cursor: pointer;
}
#barra > div > img {
  width: 15px;
  margin-right: 5px;
}

/*begin*/
#begin-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
#begin-content p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  text-align: center;
  width: 50%;
}
#begin-content img {
  width: 30%;
}
#row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
#row img {
  width: 2%;
}

#loginimg {
  border-radius: 45%;
}

/*middle*/
.middle-content {
  /* background-image: url("../assets/middle.png"); */
  padding-top: 5rem !important;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
}
.bg-content-search {
  background-image: url("../assets/middle.png");
  padding: 8rem 1rem !important;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  min-height: 80vh;
}

.bg-content-search p {
  font-size: 1rem;
}

#teste {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: flex-start;
}
.middle-content > img {
  width: 10% !important;
}
.middle-content p {
  color: #292929;
  font-weight: bold;
  font-size: 30px;
}
#carouselExampleIndicators {
  width: 80%;
  display: flex;
  align-items: center;
  align-content: flex-start;
}

/*Barra de Filtros*/
main h1 {
  font-weight: 600;
  text-align: center;
  font-family: "Roboto";
}
.search-and-filters {
  background-color: #f6f6f6;
  border-radius: 5px;
  clear: both;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  float: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 20px 15px 0;
  position: relative;
  width: 100%;
  box-shadow: 0 0px 0px rgb(0 0 0 / 20%), 0 0px 0px rgb(0 0 0 / 14%),
    0 2px 10px -2px rgb(0 0 0 / 12%);
}
.filter {
  float: left;
  margin: 0 15px 15px 0;
  max-width: 210px;
  min-width: 160px;
  padding: 0;
  /* width: auto; */
}
.search-and-filters form > div {
  display: inline;
  float: left;
  /* width: auto;  */
}
.search-and-filters input[type="text"] {
  /* width: 130%; */
  padding: 4px;
  height: 34px;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.search-and-filters label,
.search-and-filters form div.form-row label {
  color: #666;
  display: block;
  float: none;
  font-size: 1rem;
  margin: 0;
  max-width: 158px;
  text-align: left !important;
  width: auto;
}
.search-and-filters .submit-button {
  margin-top: 15px;
}
/* .selectize-input {
  width: 110% !important;
} */
#button_filter {
  background-color: #25a25a;
  color: #fff;
  padding: 10px 15px;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  white-space: nowrap;
}
.search-and-filters select {
  margin-top: 2px;
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 100%;
  height: 38px;
}
select option {
  padding: 3px 5px;
}
/*Table*/
.results {
  clear: both;
  overflow: auto;
}
form > div {
  display: inline-block;
  width: 100%;
}
table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  overflow: auto;
  width: 100%;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
thead th {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  color: #666;
  font-weight: 900;
  padding: 10px 8px;
  text-align: left;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
tbody td,
tbody th {
  background-color: #f9f9f9;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #eee;
  box-shadow: 1px 1px 0 #fff inset;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
}
.icon img {
  width: 2rem;
}
td .icon,
th .icon {
  font-size: 90%;
  margin-bottom: 2px;
  margin-top: 5px;
  opacity: 0.9;
}
div.photo-circle {
  border-radius: 50%;
  float: left;
  height: 60px;
  margin: 7px 10px 10px 0;
  overflow: hidden;
  width: 60px;
}
th .icon {
  display: inline-block;
  font-size: 115%;
  margin: 5px;
}

.rounded-circle {
  max-width: 8rem;
}

.result-item {
  text-align: center;
  margin: 1rem 10rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 30%);
  color: #292b2c;
  background: #f2f2f2;
  transition: all 0.2s linear;
  overflow: hidden;
  justify-content: center;
  height: 8rem;
}

.result-item:focus,
.result-item:hover {
  cursor: pointer;
  box-shadow: 2px 8px 100px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
  color: #292b2c;
}

.result-item h4 {
  font-size: 2rem;
  font-weight: 700;
}

.result-item span {
  font-size: 1.1rem;
}

/* .info {
  width: 40%;
} */

.diretoria h4{
  font-size: 2rem;
  font-weight: 600;
}

.info h4 {
  font-size: 2rem;
  font-weight: 600;
}

.info ul li {
  padding-top: 1rem;
}

.info ul{
  list-style-type: none;
}
.info ul li a {
  color: #3b8754;
}

.footer-text {
  color: #fff;
  background-color: #4d566a;
}

li.nav-item {
  font-size: 1rem !important;
}
