/* geral */
* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: Roboto;
  border: none;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url('../img/background.png'); */
  background-image: url('../assets/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

textarea:focus, input:focus{
  outline: none;
}

/* barra */
#header{
  width: 100%;
  position: absolute;
  top: 0;
}
#barra{
  background-color: #f1f1f1;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
  height:40px;
  padding: 10px;
  color: #292929;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#barra > div{
  display: flex;
  align-items: center;
}
#barra > div > p{
  margin: 0 10px;
  cursor: pointer;
}

/* navegacao */
#navegacao{
  width: 10%;
  display: flex;
  align-items: center;
  margin: 10px 10px;
}


/* login */
#login{
  background-color: #f1f1f1;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .15);
  width: 350px;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

#login img{
  width: 50px;
  float: left;   
}

#login > div{
  display: flex;
  align-items: center;
}

#login > div > p{
  font-size: 30px;
}
form > div{
  display: flex;
  margin-top: 20px;

}

input, button {
  width: 100%;    
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  background-color: #ffffff;
}

button[type="submit"]{
  text-transform: uppercase;
  text-align: center;
  border: none;
  width: 100%;
  height: 40px;
  color: #ffffff;
  background-color: #292929;
  cursor: pointer;
  margin-left: 15px;
}

input[type="voltar"]{
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: #292929;
  cursor: pointer;
  border: solid #292929;
  margin-right: 15px;
}
